.previous-message-card {
    margin: 2vw;
    padding: 2vw;
    border: 1px solid var(--light-grey);
    border-left: 6px solid var(--violet);
    border-radius: 4px;
}

.previous-sender {
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.previous-addressees {
    color: grey;
    margin-bottom: 1vw;
    width: 100%;
    text-align: left;

}

p {
    text-align: justify;
}

#comment-section {
    margin: 2vw;
    padding: 1vw; 
}

#comment-mat-form {
    width: 100% !important;
}

.basic-form-container {
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    margin: 2vw;
    padding: 1vw;
}

.comment-input {
    border: none;
    padding: 1vw;
    width: 90% !important;
    font-size: normal;
}

#share-btn {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 15vh;
    height: 2.2em;
    border-radius: 20px;
    background-color: var(--cyan);
    color: white;
    font-size: medium;
    border: none;
}

#share-btn:hover {
    background-color: var(--green-hover);
}

#share-btn:active {
    border: solid 4px rgb(255, 255, 255);
}

.btn-container {
    text-align: right;
    padding-bottom: 2vw;
}

.prev-sender-container {
    display: flex;
    width: 100%;
}

.time {
    text-align: right;
    width: 100%;
    color: grey;
}

.number-of-adr {
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    border: 0.4px solid var(--light-grey);
    border-radius: 2px;
    color: grey;
    display: grid;
    font-size: normal;
}

.prev-adr-container {
    display: flex;
    width: 100%;
}

.inner-number {
    font-size: normal;
    line-height: 1.2em;
}

