<form id="users" class="user-form" [formGroup]="myMainForm">
      <input matInput formControlName="subject" id="subject-field" type="text" placeholder="Enter subject">
      <mat-form-field id="users-matformfield" appearance="none">
        <div id="users-input">
          <mat-label>Share email with your teammates</mat-label>
          <input class="users-id" 
               type="text"
               placeholder="Type name or email"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
            
               <!-- fake input/overlay div that displays what is entered in actual input -->
                <div contenteditable="true" class="fake-input-container users-id">
                  <span [class.fake-input-selected]="user.nameFinished === true" 
                      class="fake-input" 
                      *ngFor="let user of selectedUsers">
                      {{user.userName}}&nbsp; 
                  </span>
                </div> 
        </div>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user.name">
          <span class="dropdown-list"> {{user.name}} </span> 
          <span class="dropdown-list dropdown-list-email"> {{user.email}} </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
</form>
<br><br>
    


  
  
