<div>
  <input id="subject-field" type="text" placeholder="Enter subject">
</div>

    <form id="users" class="user-form">
      <mat-form-field class="user-form" appearance="none">
        <mat-label>Share email with your teammates</mat-label>
        <input id="users-id"
               type="text"
               placeholder="Type name or email"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user.name">
          <span class="dropdown-list"> {{user.name}} </span> 
          <span class="dropdown-list dropdown-list-email"> {{user.email}} </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <br><br>
    



  
    

  
  
  
